@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --primary: #19e66b;
  --primary-hover: #15c65c;
  --background-light: #f8fcfa;
  --background-dark: #112117;
  --surface-light: #ffffff;
  --surface-dark: #1a2e22;
  --text-main: #0e1b13;
  --text-muted: #4e976b;
  --text-secondary: #5a6b62;
  --border-light: #e7f3ec;
}

.dark {
  --background: var(--background-dark);
  --surface: var(--surface-dark);
  --text: #ffffff;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--background-light);
  color: var(--text-main);
}

.dark body {
  background-color: var(--background-dark);
  color: white;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}